:root {
  /* Colors */
  --Neutral-900: hsl(227, 75%, 14%);
  --Neutral-800: hsl(226, 25%, 17%);
  --Neutral-700: hsl(225, 23%, 24%);
  --Neutral-600: hsl(226, 11%, 37%);
  --Neutral-300: hsl(0, 0%, 78%);
  --Neutral-200: hsl(217, 61%, 90%);
  --Neutral-100: hsl(0, 0%, 93%);
  --Neutral-0: hsl(200, 60%, 99%);
  
  /* Red */
  --Red-400: hsl(3, 86%, 64%);
  --Red-500: hsl(3, 71%, 56%);
  --Red-700: hsl(3, 77%, 44%);

  /* Gradient */
  --Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  box-shadow: var(--Neutral-300) 2px 2px 6px 1px;
  padding: 12px 12px;
  border-radius: 10px;
}

.header__logo {
  display: block;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 8px;
}

.extensions__title {
  text-align: center;
}

.extensions__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
}

.extensions__button {
  background-color: var(--Neutral-100);
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
}

.extensions__list {
  min-height: 100vh;
  padding: 30px 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.extension__card{
  background-color: var(--Neutral-100);
  box-shadow: var(--Neutral-300) 2px 2px 6px 1px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.extension__btn{
  background-color: var(--Red-500);
  color: white;
  border: none;
  outline: none;
  padding: 8px 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}